img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

<<<<<<< HEAD
body
{
    padding: 1em;
}

.container{
    display: flex;
    justify-content: space-evenly;
}
=======

>>>>>>> 53aba8284022409959b6001ea43df465e7f30ab9
